@import url(https://necolas.github.io/normalize.css/5.0.0/normalize.css);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

.wrapper {
	width: 100%;
	padding: 1.3em 2em 0.2em 2em;
	font-size: 1.1em;
}

.center {
	text-align: center;
}

img {
	max-width: 100%;
}

.img-fll {
	float: left;
	padding: 0 0.3em 0.3em 0;
}

header {
    width: 100%;
    background-color: #9b9bff;
    padding: 2em 2em;
}

header h1 {
	margin: 0;
	padding: 0;
}

#resOutput {
    padding: 2em;
    font-size: 2.2em;
    font-weight: bold;
}
