@import url(https://necolas.github.io/normalize.css/5.0.0/normalize.css);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

pre {
	display: inline-block;
	margin: 1px;
	padding: 2px;
	background-color: rgba(51, 51, 51, 0.77);
	color: #fff;
	font-size: 1.1em;
	border-radius: 3px;
}

.header {
	widows: 100%;
	background-color: #333;
}